<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.CrawlerConnectionString" connectionString="Data Source=EDNA-PC;Initial Catalog=Crawler;User ID=sa;Password=work2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>